
@model Movie

<h3><b>@Model.Title</b> has been registered!</h3>
<p>ID: @Model.ID</p>
<p>Title: @Model.Title</p>
<p>Genre: @Model.Genre</p>
<p>Year: @Model.Year</p>
<p>Actors: @Model.Actors</p>
<p>Directors: @Model.Directors</p>
